doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/assets//bootstrap/css/bootstrap-grid.rtl.min.css.map')
  link(rel="shortcut icon", href="/assets/vectors/ufarm-logo.png", type="image/x-icon")
  link(rel="stylesheet" href="/css/dashboard.css") 
  title Products List
header
- let page = "list-products"
  // Sidebar
  include ./includes/sidebar.pug
  include ./includes/navbar.pug 
main(style='margin-top: 58px')
  .container-fluid.pt-4
    .row
      .col-md-12
        .card
          .card-header
            h4.card-title
              |  All Uploaded Products
          .card-body
            if message 
              p #{message}
            if products
              table.table.table-responsive.table-bordered.table-rounded
                thead.text-white.bg-success
                  th Image
                  th Id
                  th Name
                  th Quantity
                  th Unit Price
                  th Location
                  th Product Type
                  th Delivery Mode
                  th Farmer ID
                  th Aproved
                  th.text-right Action
                tbody
                  
                      each product in products
                        tr
                          td
                            img(src=`/assets/uploads/${product.image}` width="50px" )
                          td 
                            span.badge.badge-success.text-white.bg-success
                              | #{product.id}
                          td #{product.product_name}
                          td #{product.quantity}
                          td #{product.unit_price}
                          td #{product.location}
                          td #{product.produce_type}
                          td #{product.delivery_mode}
                          td #{product.farmer_id}
                          td 

                              if product.is_approved
                                    i.bi.bi-check-circle-fill.text-success(style="margin:5px; font-size:20px;") 
                              else
                                    i.bi.bi-x-circle-fill.text-success(style="margin:5px; font-size:20px;")
                          td.text-right
                              .dropdown
                                  button#dropdownMenuButton.btn.btn-success.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i.bi.bi-three-dots-vertical.text-white
                                  .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a(href="/list/delete/" + product.id) 
                                        button.btn.btn-danger.action-btn(type="submit")
                                          i.bi.bi-file-x-fill.text-white
                                          | Delete     
                                    a(href="/list/edit/" + product.id) 
                                        button.btn.btn-dark.action-btn(type="submit")
                                         i.bi.bi-pencil-square.text-white
                                         | Edit
                                    if product.is_approved
                                        a(href="/list/disapprove/" + product.id) 
                                           button.btn.btn-success.action-btn(type="submit")
                                            i.bi.bi-file-excel-fill.text-white
                                            | Disaprove           
                                    else 
                                        a(href="/list/approve/" + product.id) 
                                            button.btn.btn-success.action-btn(type="submit")
                                              i.bi.bi-file-check-fill.text-white
                                              | Approve  
                                      
             
// Main layout
script(src='./bootstrap/js/bootstrap.min.js')
script(src='./bootstrap/js/bootstrap.bundle.js')
script(src='./bootstrap/js/bootstrap.bundle.min.js')
script(src='./bootstrap/js/bootstrap.js')
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")