doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(rel="shortcut icon", href="/assets/vectors/ufarm-logo.png", type="image/x-icon")
  link(rel="stylesheet" href="/css/dashboard.css")  
body(onload="generateFarmerId()")
header
- let page = "dashboard"
  // Sidebar
  
  include ./includes/sidebar.pug
  include ./includes/navbar.pug 
// Main layout
main(style='margin-top: 58px')
  .container-fluid.pt-4
    .col-md-12
      .card.card-user
        .card-header
          h5.card-title Dashboard
        .card-body
          .row
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-geo-fill.text-success
                        button.btn.btn-success 
                         i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                          |  Wards                          
                        h1.card-title 
                          |   #{wards}                       
                .card-footer
                  hr
                  .stats
                    i.bi.bi-arrow-clockwise
                    |                     Update Now
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-people-fill.text-success
                        a(href="list/fo")
                          button.btn.btn-success 
                           i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                          |   Farmer ones                      
                        //- .d-flex.justify-content-center
                        //-   .spinner-border.text-success(role='status' )                     
                        h1.card-title 
                          |  #{farmer_ones}             
                .card-footer
                  hr
                  .stats
                    i.bi.bi-calendar
                    | Last day
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-success
                        i.bi.bi-people.text-success
                        a(href="list/uf")
                          button.btn.btn-success 
                           i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                          |  Urban farmers                             
                        h1.card-title 
                          |  #{urban_farmers}                
                .card-footer
                  hr
                  .stats
                    i.bi.bi-clock-o
                    |    In the last hour
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-briefcase.text-success
                      a(href="list/products")
                          button.btn.btn-success 
                            i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                         |    Products                                        
                        h1.card-title 
                            |  #{products}                
                .card-footer
                  hr
                  .stats
                    i.bi.bi-arrow-clockwise
                      | Update now
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-briefcase.text-success
                        button.btn.btn-success 
                         i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                         |    Customers                                       
                        h1.card-title 
                            |   #{customers}                
                .card-footer
                  hr
                  .stats
                    i.bi.bi-arrow-clockwise
                      | Update now
            .col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-bookmark-check-fill.text-success
                        button.btn.btn-success 
                         i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                         |    Orders                                      
                        h1.card-title 
                            |   0 #{orders}                
                .card-footer
                  hr
                  .stats
                    i.bi.bi-arrow-clockwise
                      | Update now

      
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/bootstrap/js/bootstrap.js')
