html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='/assets//bootstrap/css/bootstrap-grid.rtl.min.css.map')
        link(rel="shortcut icon", href="/assets/vectors/ufarm-logo.png", type="image/x-icon")
        style.
                body {
                background-image: url('/assets/images/farmer.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                font-family: Roboto, "san-serif";
                
                }
                .login-form {
                background-color: #5c9f24c0;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                margin-top: 100px;
                }
                .form-control:focus {
                border-color: #007bff;
                box-shadow: none;
                }
                .custom-cursor {
                  cursor: pointer;
                }
                footer {
                  background-color:'#5c9f24c0';
                  align-items:center;
                  
                }

body 
  nav#main-navbar.navbar.navbar-expand-lg.navbar-light.bg-dark.fixed-top
    .container-fluid
      button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
        i.bi.bi-bars
      a.navbar-brand(href='#') 
          img(src="/assets/vectors/ufarm-logo-white.png"
          width="100"
          alt="U-Farm Logo"
          loading="lazy")
      ul.navbar-nav.ms-auto.d-flex.flex-row
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.me-3.me-lg-0.dropdown-toggle(href='/register')
            button.btn.btn-success
              i.bi.bi-person.text-light
              | Register
          
  .container
    .row.justify-content-center
      .col-md-6
        .login-form
          h2.text-center.mb-4.text-white User Login
          if message
            .alert.bg-danger.alert-dismissible.show.fade(role='alert' fade='' style='display:flex;justify-content:space-between; height:50px; align-items:center;')
              p.text-white
                strong Alert: #{message}
              button.btn.text-white(type='button' onclick='return hideAlert()')
                span(aria-hidden='true') &times;
          form#form(onsubmit="return login();" action="/login" method="post")
            .form-group
              label.text-white(for='id') User ID:
              input#id.form-control(type='text' placeholder='Enter user ID' name="id" oninput="return validateId();" value= id)
              p#idErr
            
            .form-group
              label.text-white(for='password') Password:
              .d-none.d-md-flex.input-group.w-auto.my-auto
                input#password.form-control(type='password' placeholder='Enter password' name="password" oninput="return validatePwd();" value=password)
                span#show.input-group-text.border-0.bg-dark.bg.text-white.custom-cursor(onclick="return toggleShowPassword();")
                  i.bi.bi-eye
              p#passwordErr
            button.btn.btn-dark.btn-block.mb-6(type='submit' style="margin:10px; width:200px;") LOGIN
            a(href="/register")
                 .btn.btn-success.btn-block.mb-6(style="margin:10px; width:200px;") REGISTER
  footer.fixed-bottom.text-white
    .container.align-items-center
      p This is my footer.
script(src='/js/sign.js')
script.
  function validateId(){
    let id = document.forms["form"]["id"].value; 
    let input = document.getElementById('id');
    let err= document.getElementById("idErr");
    if(id!=="" && id.length<=4){    
      err.textContent="Id must be over 5 character long"
      err.style.color="black"
      return false;
      } else{
        err.textContent=''
        err.style.color="" 
      }
  return true;
  } 
  function validatePwd(){
    let password = document.forms["form"]["password"].value; 
    let input = document.getElementById('password');
    let err= document.getElementById("passwordErr");
    if(password!=="" && password.length<=7){    
      err.textContent="Password must be 8 characters long"
      err.style.color="black"
      return false;
      } else{
        err.textContent=''
        err.style.color="" 
      }
       return true;
  } 
  const login=()=>{
    validateId(); 
  }
  


                
                
