html(lang="en")
  head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
      link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap-grid.rtl.min.css.map')
      link(rel='stylesheet' href='/css/sign.css')
      link(rel="shortcut icon", href="/assets/vectors/ufarm-logo.png", type="image/x-icon")       
  body 
   nav#main-navbar.navbar.navbar-expand-lg.navbar-light.bg-dark.fixed-top
    .container-fluid
      button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
        i.bi.bi-bars
      a.navbar-brand(href='/') 
          img(src="/assets/vectors/ufarm-logo-white.png"
          width="100"
          alt="U-Farm Logo"
          loading="lazy")
      ul.navbar-nav.ms-auto.d-flex.flex-row
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.me-3.me-lg-0.dropdown-toggle(href='/register')
            button.btn.btn-success
              i.bi.bi-person.text-light
              | Register
          
   .container
    .row.justify-content-center.text-dark
      .col-md-6
        .login-form
          h2.text-center.mb-4 User Login
          if message
            #error 
              .alert.bg-danger.alert-dismissible.show.fade(role='alert' fade='' style='display:flex;justify-content:space-between; height:50px; align-items:center;')
                p.text-white
                  strong Alert: #{message}
                button.btn.bg-dark.text-white(type='button' onclick='return hideAlert()')
                  span(aria-hidden='true') &times;
            #loader
          form#form(onsubmit="return validateLoginForm();" action="/login" method="post")
            .form-group
              label(for='id') User ID:
              input#id.form-control(type='text' placeholder='Enter user ID' name="id" oninput="return validateId();" value= id)
              p#idErr.text-danger
            
            .form-group
              label(for='password') Password:
              .d-md-flex.input-group.w-auto.my-auto
                input#password.form-control(type='password' placeholder='Enter password' name="password" oninput="return validatePwd();" value=password)
                span#show.input-group-text.border-0.bg-dark.bg.text-white.custom-cursor(onclick="return toggleShowPassword();")
                  i.bi.bi-eye
              p#passwordErr.text-danger
            button.btn.btn-dark.btn-block.mb-6(type='submit' style="margin:10px; width:200px;") LOGIN
            //a(href="/register")
                 .btn.btn-success.btn-block.mb-6(style="margin:10px; width:200px;") REGISTER
    footer.fixed-bottom.text-white.footer
      .container.align-items-center(style="justify-content:space-between; display:flex;")
        .container 
          a.btn.btn-dark.btn-floating.m-1(href='#!' role='button')
                i.bi.bi-twitter
          a.btn.btn-dark.btn-floating.m-1(href='#!' role='button')
                i.bi.bi-facebook
          a.btn.btn-dark.btn-floating.m-1(href='#!' role='button')
                i.bi.bi-github
        
        .container 
          p 
           | Join the farm produce market
        .container 
          p 
           | &copy; 2023 Copyright: Ufarm
  
script(src='/js/sign.js')

 
  


                
                
